<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Gamebook</h1>
    <p class="lead">¡Bienvenido a la página donde podrás administrar tu colección de
      videojuegos!</p>
  </div>
</div>