<h1>Mis Consolas</h1>
<hr>
<div class="row">  <!--ngFor = v-form siempre tiene un index por default, para acceder a index se debe guardar-->
  <div class="card" style="width: 18rem;" *ngFor="let consola of consolas; let i = index">
    <img class="card-img-top" [src]="consola.imagen" [alt]="consola.nombre">
    <div class="card-body">
      <h5 class="card-title">{{consola.nombre}}</h5>
      <p class="card-text">{{consola.descripcion}}</p>
      <!-- Utilizamos '/infoconsola' en lugar de 'infoconsola' para evitar que en el 
    archivo 'app.routes.ts' se tenga que declarar como 'consolas/infoconsola/:id' de tal forma que la URL quedaría como http://localhost:4200/infoconsola/0 -->
      <a [routerLink]="['/infoconsola',i]" class="btn btn-primary">Información</a>
    </div>
  </div>
</div>