<h1>Alumnos</h1>
<hr>

<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="text" placeholder="Palabras de Búsqueda" #palabrasBusqueda>
  <button class="btn btn-outline-success my-2 my-sm-0" type="button"
    (click)="buscarAlumnos(palabrasBusqueda.value)">Buscar Alumnos</button>
</form>
<hr>

<div class="row">
  <div class="card" style="width: 18rem;" *ngFor="let alumno of alumnosAsincrono | async; let i = index">
    <img class="card-img-top" [src]="alumno.foto" [alt]="alumno.nombre">
    <div class="card-body">
      <h5 class="card-title">{{alumno.nombre}}</h5>
      <p class="card-text">{{alumno.matricula}}</p>
    </div>
  </div>
</div>