<hr>
<form [formGroup] = "formulario" (ngSubmit) = "guardar()">
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <!--Mensajes para validar-->
        <input class="form-control" [ngClass] = "{ 'is-invalid': !formulario.get('nombre').valid }" type="text" placeholder="Nombre" formControlName="nombre">
        <div *ngIf="formulario.controls['nombre'].errors?.required" class="form-control-feedback">
          Indique el nombre Homie
        </div>
        <div *ngIf="formulario.controls['nombre'].errors?.minlength" class="form-control-feedback">
          El nombre debe tener dos cracteres homie
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido Paterno</label>
      <div class="col-8">
        <input class="form-control" [ngClass] = "{ 'is-invalid': !formulario.get('apellidoMaterno').valid }" type="text" placeholder="Apellido Materno" formControlName="apellidoMaterno">
        <div *ngIf="formulario.controls['apellidoMaterno'].errors?.required" class="form-control-feedback">
          Indique el apellido Materno Homie
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido Materno</label>
      <div class="col-8">
        <input class="form-control" [ngClass] = "{ 'is-invalid': !formulario.get('apellidoPaterno').valid }" type="text" placeholder="Apellido Materno" formControlName="apellidoPaterno">
        <div *ngIf="formulario.controls['apellidoPaterno'].errors?.required" class="form-control-feedback">
            Indique el apellido Paterno Homie
          </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Correo Electrónico</label>
    <div class="col-md-8">
      <input class="form-control" [ngClass] = "{ 'is-invalid': !formulario.get('mail').valid }" type="email" placeholder="Correo Electrónico" formControlName="mail">
      <div *ngIf="formulario.controls['mail'].errors?.required" class="form-control-feedback">
        Indique el mail Homie
      </div>
      <div *ngIf="formulario.controls['mail'].errors?.pattern" class="form-control-feedback">
        Correo invalido Homie
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>
</form>
<hr>