<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data- target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria- expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['principal']">Principal <span class="sr- only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['consolas']">Consolas</a> </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['acercade']">Acerca De</a> </li>
    </ul>
    
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Palabras de Búsqueda" #palabrasBusqueda>
      <button class="btn btn-outline-success my-2 my-sm-0" type="button"
        (click)="buscarConsolas(palabrasBusqueda.value)">Buscar Consolas</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="button"
        (click)="buscarJuegos(palabrasBusqueda.value)">Buscar Juegos</button>
    </form>
  </div>
</nav>