<h1>Acerca de Gamebook</h1>
<hr>
<p>
  En esta página podrás administrar tu colección de videojuegos para:
</p>
<ul>
  <li>PC Master Race</li>
  <li>Playstation 4</li>
  <li>Xbox One</li>
  <li>Nintendo Switch</li>
</ul>