<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Playstation 4</h1>
    <p class="lead">PlayStation 4 (PS4) is a line of eighth-generation home video game consoles developed by Sony Interactive Entertainment. Announced as the successor to the PlayStation 3 during a press conference on February 20, 2013, it was launched on November 15 in North America, November 29 in Europe, South America and Australia; and February 22, 2014, in Japan. It competes with Nintendo's Wii U and Switch, and Microsoft's Xbox One.</p>

    <p class="lead">Moving away from the more complex Cell microarchitecture of its predecessor, the console features an AMD Accelerated Processing Unit (APU) built upon the x86-64 architecture, which can theoretically peak at 1.84 teraflops; AMD stated that it was the "most powerful" APU it had developed to date. The PlayStation 4 places an increased emphasis on social interaction and integration with other devices and services, including the ability to play games off-console on PlayStation Vita and other supported devices ("Remote Play"), the ability to stream gameplay online or to friends, with them controlling gameplay remotely ("Share Play"). The console's controller was also redesigned and improved over the PlayStation 3, with improved buttons and analog sticks, and an integrated touchpad among other changes. The console also supports HDR10 high-dynamic-range color and playback of 4K multimedia.</p>

    <p class="lead">Reception to the original PlayStation 4 model was positive, with critics praising Sony for acknowledging its consumers' needs, embrace of independent game development, and for not imposing restrictive digital rights management schemes that Microsoft had previously announced for Xbox One prior to its release. Critics and third-party studios also praised the capabilities of the PlayStation 4 in comparison to its competitors; developers described the performance difference between the console and Xbox One as being "significant" and "obvious".[11] Heightened demand also helped Sony top global console sales. By the end of 2016, more than 53 million consoles have been sold worldwide, with more than 57 million shipped.[12]</p>

    <p class="lead">On September 7, 2016, Sony unveiled two hardware revisions of PlayStation 4; a smaller "Slim" version of the original hardware, and a "Pro" version with an upgraded GPU and higher CPU clock rate to support 4K gameplay on supported titles.</p>
  </div>
  <a [routerLink]="['juegosconsola']" class="btn btn-primary">Juegos</a>
</div>
