<h1>Juegos Playstation 4</h1>
<hr>
<div class="row">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/tlou.jpg" alt="PC Master Race">
    <div class="card-body">
      <h5 class="card-title">The Last of Us</h5>
      <a [routerLink]="['juego']" class="btn btn-primary">Ficha Técnica</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/hzd.jpg" alt="Playstation 4">
    <div class="card-body">
      <h5 class="card-title">Horizon: Zero Dawn</h5>
      <a [routerLink]="['infoconsola']" class="btn btn-primary">Ficha Técnica</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/p5.jpg" alt="Xbox One">
    <div class="card-body">
      <h5 class="card-title">Persona 5</h5>
      <a href="#" class="btn btn-primary">Ficha Técnica</a>
    </div>
  </div>
</div>
