<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['alumnos']">Alumnos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['altaalumnos']">Administración de Alumnos</a>
      </li>
    </ul>
  </div>
</nav>