<img class="card-img-top" src="assets/tloumain.jpg" alt="The Last of Us">
<ul class="list-group">
  <li class="list-group-item">Nombre: The Last of Us</li>
  <li class="list-group-item">Developer: Naughty Dog</li>
  <li class="list-group-item">Lanzamiento: 2014</li>
</ul>
