<h1>Uppercase</h1>

<hr>
Valor Original: {{mayusculas}}
<br>
{{ mayusculas | uppercase}}

<h1>Lowercase</h1><hr>
Valor Original : {{minusculas}}<br>
{{ mayusculas | lowercase}}<br>
Valor Original : {{minusculas}}

<h1>Slice</h1><hr> <!--Dividir cadena-->
Valor Original : {{juego}}<br>
{{ juegos | slice:7}}<br>
{{ juegos | slice:0:7}}<br><br>

Valor Original : {{numeros}}<br>
{{ numeros | slice:7}}<br>
{{ numeros | slice:0:7}}<br> 

<ul>
  <li *ngFor = "let num of numeros | slice:1:10"> {{num}}</li>
</ul>

<h1>Number</h1><hr> <!--Dividir cadena-->
Valor Original : {{decimal}}<br>
{{ decimal | number}}<br> <!--Default 3 decimales-->
{{ decimal | number:'5.0-0'}}<br> <!--enteros.decimalesMinimos-decimalesMaximos-->
{{ decimal | number:'2.0-4'}}<br>
{{ decimal | number:'5.0-4'}}<br> <!--redondea decimales-->

<h1>Porcentaje</h1><hr> <!--Dividir cadena-->
Valor Original : {{percentage}}<br>
{{ percentage | percent}}<br>
{{ percentage | percent:'2.0-2'}}<br> <!--enteros.decimalesMinimos-decimalesMaximos-->

<h1>Moneda</h1><hr> <!--Dividir cadena-->
Valor Original : {{moneda}}<br>
{{ moneda | currency}}<br> <!--LOCALE-->
{{ moneda | currency:'MXN'}}<br> 
{{ moneda | currency:'MXN':false}}<br> <!--Mostrar moneda-->
{{ moneda | currency:'MXN':false:'3.0-3'}}<br>

<h1>JSon</h1><hr> 
Valor Original : {{json}}<br>
{{ json | json}}<br> 
<pre> <!-- Formato Json -->
  {{ json | json }}
</pre>

<h1>Async</h1><hr> 
Valor Original : {{asinc}}<br>
{{ asinc | async}}<br> 

<h1>Fecha</h1><hr> 
Valor Original : {{fecha}}<br>
{{ fecha | date}}<br> 