<h1>Mis Consolas</h1>
<hr>
<div class="row">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/pcmr.jpg" alt="PC Master Race">
    <div class="card-body">
      <h5 class="card-title">PC Master Race</h5>
      <p class="card-text">Juegos para PC</p>
      <a href="#" class="btn btn-primary">Información</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/ps4.jpg" alt="Playstation 4">
    <div class="card-body">
      <h5 class="card-title">Playstation 4</h5>
      <p class="card-text">Juegos para PS4</p>
      <a href="#" class="btn btn-primary">Información</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/xboxone.jpg" alt="Xbox One">
    <div class="card-body">
      <h5 class="card-title">Xbox One</h5>
      <p cl ass="card-text">Juegos para Xbox One</p>
      <a href="#" class="btn btn-primary">Información</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/nswitch.jpg" alt="Nintendo Switch">
    <div class="card-body">
      <h5 class="card-title">Nintendo Switch</h5>
      <p class="card-text">Juegos para Nintendo Switch</p>
      <a href="#" class="btn btn-primary">Información</a>
    </div>
  </div>
</div>